/**
 * @author HackMEAny
 * @email hackme.any@protonmail.com
 * @desc This is css style for the website 
 */
body {
  /* background-color: #393e46; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(https://github.com/HackMEAny/Bin_Status/blob/16f4e16ad41205a13c4f721366eab587a2e5e2b0/waste-management%201.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 500px;
}
/* th {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
  background-color: #393e46;
  color: #fff;
} */
h1 {
  color: red;
  background-color: yellow;
  padding-left:500 px;
  padding-right:500 px;
  background-clip:content-box;
}
h2 {
  color: green;
  /* color: #ffe162; */
}
#n1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: large;
  text-align: center;
  color: black;
}
#n2 {
  display: inline;
}
